@page "/"

@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage


<style>

     .box-shadow {
        background: #fff;
        box-shadow: 4px 3px 8px 1px #969696;
        -webkit-box-shadow: 4px 3px 8px 1px #969696;
        width: 100px;
        height: 100px;
    }


    .outer {
        width: 1000px; /*for example*/
        height: 1000px; /*for example*/
    }

    .inner {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100px;
        height: 100px;
    }
</style>

<div class="outer">
    <div class="inner box-shadow" onclick="location.href='/login';" style="cursor: pointer;">

        Clock In

    </div>
</div>

@code{
    public bool isUserAuthenticated;

    protected override void OnInitialized()
    {
        isUserAuthenticated = (localStorage.GetItem<string>("token")) != null;
        Console.WriteLine(isUserAuthenticated);

        //localStorage.SetItem("name", "John Smith");
        //var name = localStorage.GetItem<string>("name");
    }
}

