@page "/"
@inherits IndexBase

<html>
<body style="border: solid 2px green">
    <style>

        div {
            border-radius: 1em;
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%,50%)
        }
    </style>
    <div>
        @if (!@isUserAuthenticated)
        {
            <div id="main">
                <RadzenButton style="height:200px; width:200px; background-image:url(images/Login.png)" Click="@LoginButtonClick"></RadzenButton>
            </div>
        }
        else
        {
            NavigateToPage("/Login");
        }
    </div>
</body>
</html>


