@page "/login"

    <div >
        <h3>Simple login</h3>
        <RadzenCard>
            <RadzenLogin AllowRegister="false" AllowResetPassword="false"></RadzenLogin>
        </RadzenCard>
</div>

@code{
    
}