@page "/auth/login"
@inherits LoginBase



<style>


    .middle-box {
        background-color: white;
        margin: auto;
        margin-top: 25%;
        margin-left: 50%;
        padding: 30px;
        width: 600px;
        height: 340px;
        box-shadow: 5px 10px 18px #888888;
        border-radius: 20px;
    }
</style>

<div class="middle-box">
    <div class="row">
        <div class="col-12">
            <h2>Login to your account</h2>
            <EditForm Model="model" OnValidSubmit="LoginUser">
                <RadzenCard>
                    <!-- <AlertMessage Message="@message" MessageType="@messageType" /> -->


                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <label>Email</label>
                    <RadzenTextBox @bind-Value="model.Username"></RadzenTextBox>

                    <label>Password</label>
                    <RadzenPassword @bind-Value="model.Password"></RadzenPassword>

                    <hr />
                    <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Login"
                                  ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2"
                                  Disabled="isBusy" />
                </RadzenCard>
            </EditForm>
        </div>
    </div>
</div>
