@page "/login"
@inherits LoginBase

<html>
<body style="border: solid 2px green">
    <style>



        /*/div {
            border-radius: 1em;
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%,50%)
        }*/
    </style>
    <div>
        <div>

            <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login="@LogIn"></RadzenLogin>

        </div>

    </div>
</body>
</html>

