@page "/main"
@inject HttpClient http;


<html>
<body style="border: solid 2px green">
    <style>
    </style>
    <div>
       <h3> Main page </h3>
    </div>
</body>
</html>

@code {

}
