@inherits LayoutComponentBase


<style>

    html, body {
        height: 100%;
        margin: 0;
        background-image: url('patrol.jpg');
    }
</style>

<!--
 <div class="sidebar">
        <NavMenu />
    </div>

   -->
<div>
    @Body
</div>

